<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Live - Flask Face Detection</title>
    </head>
    <body style="text-align: center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <h3 class="mt-5">Live Face Detection</h3>
                    <img src="{{ url_for('video_feed_live') }}" width="40%">
                </div>
            </div>
        </div>
        <br>
    </body>
</html>